<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>143349828587-mecvc7r43p5kg4bhtrnavv5tulkli84i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143349828587-mecvc7r43p5kg4bhtrnavv5tulkli84i</string>
	<key>API_KEY</key>
	<string>AIzaSyChyWro5kjk76FxI-zSseyfWbYKDJ7m3es</string>
	<key>GCM_SENDER_ID</key>
	<string>143349828587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.SimpleAnimation</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-4bc9c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-4bc9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143349828587:ios:a60c1258b4dab5c9</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-4bc9c.firebaseio.com</string>
</dict>
</plist>